<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <nav class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index'%}">Brand</a></li>
          <li> <a class="navbar-link" href="{% url 'admin:index'%}">Admin</a> </li>
          <li> <a class="navbar-link" href="{% url 'AppTwo_myurlvar:user_myurl'%}">user</a> </li>
          <li> <a class="navbar-link" href="{% url 'AppTwo_myurlvar:reg_myurl'%}">Registration</a> </li>
        </nav>
      </div>
    </nav>
    <div class="container">
      {% block block_name %}
      <!-- Anything outside of this will be inherited when we call extend on it -->
      {% endblock %}
    </div>
  </body>
</html>
